.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.page-header {
  display: flex;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.33) 0px 3px 5px 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 2vmin;
  padding: 2vmin;
  height: 8vmin;
  justify-content: center;
  max-width: 50vw;
  min-width: 800px;
}

.nav-content {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

.left-nav {
  background-color: #ffffff;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.33) 0px 3px 5px 0px;
  height: 100%;
  padding: 10px 30px 10px 10px;
  position: fixed;
  width: 350px;
  left: 0;
  top: 0;
  left: -320px;
  transition: left 0.33s;
}

.left-nav:hover {
  left: 0;
}

.left-nav .section-label {
  display: block;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 1em;
  color: #80c3e5;
  transform-origin: top left;
  transform: rotate(90deg);
  line-height: 1em;
  position: absolute;
  top: 2vmin;
  right: -34px;
}

.content {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.33) 0px 3px 5px 0px;
  padding: 2vmin;
  max-width: 50vw;
  min-width: 800px;
  margin-bottom: 2vmin;
}
