.article-container img {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 500px;
  width: 100%;
}

.article-container > pre > code {
  display: none;
  pointer-events: auto;
}

.article-container a {
  color: rgb(128, 195, 229);
}

.article-container strong {
  font-weight: 800;
}

hr {
  margin: 1.5rem 0;
}

.article-container a:visited {
  color: rgb(128, 135, 229);
}

.article-container p {
  margin-bottom: 2rem;
  line-height: calc(1em + 0.5rem);
  color: rgb(80, 80, 80);
}

.article-container blockquote {
  position: relative;
  background-color: rgb(245, 245, 245);
  border-left: 2px solid rgb(230, 230, 230);
  padding: 0.5rem 0.5rem 0.01rem 1rem;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}

.article-container blockquote:before {
  content: '💬';
  position: absolute;
  left: -1.5rem;
  top: 0;
}

.article-container h1,
.article-container h2,
.article-container h3,
.article-container h4,
.article-container h5,
.article-container h6 {
  color: rgb(128, 195, 229);
  line-height: calc(1em + 0.5rem);
  margin-bottom: 2rem;
}

.article-container > h1:first-child {
  margin-bottom: 0;
}

.article-container sub {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.article-container h1 + p > sub {
  display: block;
}

.article-container > h1:first-child > sub:first-child {
  margin-bottom: 2rem;
}

.article-container h1 {
  font-size: 3rem;
  font-weight: 800;
}

.article-container h2 {
  font-size: 2.75rem;
  font-weight: 800;
}

.article-container h3 {
  font-size: 2.5rem;
  font-weight: 800;
}

.article-container h4 {
  font-size: 2.25rem;
  font-weight: 800;
}

.article-container ul,
.article-container ol {
  margin-bottom: 2rem;
  color: rgb(80, 80, 80);
}

.article-container ul li {
  margin-left: 1.5rem;
  list-style-type: circle;
}

.article-container ol li {
  margin-left: 1.5rem;
  list-style-type: decimal;
}

.article-container::after {
  content: '-- 𝔥𝔞𝔫𝔰 --';
}

.article-container code {
  font-family: 'Sono', monospace;
  letter-spacing: -0.1em;
  font-size: 0.95em;
  font-weight: bold;
  color: #666666;
}

.article-container table {
  color: rgb(80, 80, 80);
  display: table;
  width: 100%;
  margin-bottom: 2rem;
}

.article-container table tr {
  display: table-row;
}

.article-container table th {
  display: table-cell;
  font-weight: 800;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.article-container table td {
  display: table-cell;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.article-container hr {
  border-bottom: 1px solid rgb(230, 230, 230);
}
